.btn-black {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--color-white);
    padding: 8px 15px;
    margin-right: 1rem;
    border-radius: 3px;
    background-color: var(--color-dark);
    border: none;

    transition: all 0.2s;
}

.btn-green {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--color-white);
    padding: 5px 12px;
    margin-right: 1rem;
    border-radius: 3px;
    background-color: var(--color-green);
    border: none;

    transition: all 0.2s;
}


.btn-blue {
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--color-white);
    padding: 5px 12px;
    margin-right: 1rem;
    border-radius: 3px;
    background-color: var(--color-blue);
    border: none;

    transition: all 0.2s;
}

.btn-red {
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--color-white);
    padding: 5px 12px;
    border-radius: 3px;
    background-color: var(--color-warning);
    border: none;

    transition: all 0.2s;
}

.btn-green:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px var(--color-box-shadow);
}
.btn-red:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px var(--color-box-shadow);
}
.btn-blue:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px var(--color-box-shadow);
}
.btn-black:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px var(--color-box-shadow);
}

.btn-sign-log {
    color: var(--color-white);
    font-size: 1.2rem;
    height: 2.5rem;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 0;
    letter-spacing: 1.5px;
    border: none;
    background-color: var(--color-dark);
    border-radius: 5px;
    box-shadow: 0 5px 10px var(--color-box-shadow);

    transition: all 0.3s;
}

.btn-sign-log:hover {
    cursor: pointer;
    transform:  translateY(-2px);
    box-shadow: 0 8px 12px var(--color-box-shadow);
}

.btn-dashboard {
    align-self: flex-start;
    margin-bottom: 3rem;
    text-decoration: none;
    font-size: 1.2rem;
    border-bottom: 1.5px solid var(--color-dark);

    transition: all 0.2s;
}

.btn-dashboard:hover {
    color: var(--color-primary-dark);
    border-bottom: 1.5px solid var(--color-primary-dark);
}