body {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: 33dvw;
    height: 90dvh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px var(--color-box-shadow);
    border-radius: 5px;
    padding: 1rem 0;
    gap: 1rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
} 

form {
    width: 75%;
    display: flex;
    flex-direction: column;
}

input {
    height: 2rem;
    font-family: "Inter";
    color: var(--color-black);
    font-weight: 600;
    margin-bottom: 0;
    border: none;
    border-bottom: 1px solid var(--color-dark);
}

input:focus {
    outline: none;
}

.paragraphs {
    margin-left: 12.5%;
    align-self: self-start;
}

.paragraphs p {
    font-size: 0.9rem;
    margin-bottom: .6rem;
}

.paragraphs p a {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--color-black);
    border-bottom: 1.5px solid var(--color-black);
}

.label {
    font-size: 0.9rem;
}

ul.errorlist li{
    list-style: none;
    color: var(--color-warning);
    font-weight: 500;
}