{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'devedu/includes/utilities.css' %}">
    <link rel="stylesheet" href="{% static 'devedu/includes/variables.css' %}">
    <link rel="stylesheet" href="{% static 'devedu/course_detail.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'devedu/video_player.css' %}"> {% endcomment %}
{% endblock css_files %}

{% comment %} ? change the title {% endcomment %}
{% block title %}Course Title{% endblock title %}

{% block content %}
<section class="section_header">
    <div class="section_header-container">
        <h1>{{course.title}}</h1>
        <p class="author">Created by 
            <a href="#">
                {% if course.author.first_name or course.author.last_name %}
                {{course.author.first_name}} {{course.author.last_name}}
                {% else %}
                {{course.author}}
                {% endif %}
            </a>
        </p>
        
        <div class="thumb_nail">
            {% comment %} ? see udemys page {% endcomment %}
            {% comment %} <a data-url="652333414.mp4" class="videl-btn" href="#"></a> {% endcomment %}
            {% comment %} <img data-url="{% static 'devedu/images/demo.mp4' %}" class="video-btn" src="{{course.thumb_nail.url}}" alt="Thumb Nail"> {% endcomment %}
            <video 
            poster="{{course.thumb_nail.url}}"
            src="{% static 'devedu/images/intro.mp4' %}" 
            controls
            type="video/mp4"
            >
            </video>
        </div>
        <h2>Description</h2>
        <p class="description">{{course.description}}</p>
        <h2 class="rating">Rating: 4.7 (does not read from DB yet)</h2>
        <p>Last updated on <span>{{course.last_updated_on}}</span></p>
        <h2 class="price">Tk. {{course.price}}</h2>
        {% if not user in en_students %}
        <div class="btns">
            <a class="btn-add-wishlist" href="#">Add to wishlist</a>
            <a class="btn-enroll" href={% if user.is_authenticated %}
            "{% url 'enroll_course' course.slug user.username %}"
            {% else %}"/login"
            {% endif %}
            >Enroll now</a>
        </div>
        {% endif %}
        <a class="btn-gift" href="#">Gift this course</a>
    </div>
</section>
<section class="course_contents">
    <h1>Course contents</h1>
    <div class="table">
        {% for content in contents %}
        <div class="content">
            <h2 class="serial">{{content.serial}}</h2>
            <h3 data-url="{{content.file.url}}" data-free="{{content.is_free}}" class="title" href="#">{{content.title}}</h3>
            <h3 class="type">mp4(!work)</h3>
        </div>
        {% endfor %}     
    </div>
</section>

{% comment %} ! Video Player {% endcomment %}
{% comment %} <div class="container hidden">
  <div class="overlay"></div>
  <video class="video" src="{% static 'devedu/images/demo.mp4' %}" controls></video>
</div>

<script src="{% static 'js/video_player.js' %}"></script> {% endcomment %}
{% endblock content %}
