{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    {% comment %} <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&family=Merriweather:wght@300;400;700&family=Montserrat:wght@300;400;700&family=Poppins:wght@100;400;600;900&family=Roboto:wght@400;700&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'devedu/base.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'devedu/includes/utilities.css' %}">
    <link rel="stylesheet" href="{% static 'devedu/includes/variables.css' %}">
    <link rel="stylesheet" href="{% static 'devedu/home.css' %}">
{% endblock css_files %}
{% block title %}DevEdu{% endblock title %}

{% block content %}
<header>
    <div class="left">
        <h1>Learn with <span>DevEdu</span> Anytime Anywhere.</h1>
        <p>Learning that gets you skills for present and future.<br>Get started with us.</p>
        <div class="header__btns">
            <a class="btn-primary" href="/sign-up">Get started</a>
            <a class="btn-secondary" href="#">Courses</a>
        </div>
    </div>
    <div class="right">
        <img src="{% static 'devedu/images/header_img.png' %}" alt="">
    </div>
</header>

<section class="section__courses">
    <h2>Courses</h2>
    <div class="course__container">
        {% for course in courses %}
            <div class="course_card">
                <div class="image_container">
                    <a href="{% url 'course_detail' course.slug %}">
                        <img src="{{course.thumb_nail.url}}" alt="Thumb Nail">
                    </a>
                </div>
                <a class="course_title" href="{% url 'course_detail' course.slug %}"><h3>{{course.title}}</h3></a>
                <a class="course_instructor" href="#">
                    <p>
                        {% if course.author.first_name or course.author.last_name %}
                        {{course.author.first_name|title}} {{course.author.last_name|title}}
                        {% else %}
                        {{course.author}}
                        {% endif %}
                    </p>
                </a>
                <h3 class="course_rating">4.7</h3>
                <h3 class="course_price">Tk. {{course.price}}</h3>
            </div>
        {% endfor %}
    </div>
    <a class="btn-more" href="#">View more-></a>
</section>
<section class="apply">
    <h2>Apply as an Instructor</h2>
    <p>Have prior knowledge and experience with any techogy and want to teach others?
        <br>Send us your resume now.</p>
    <button class="btn-apply"  href="">Apply now</button>

</section>


<div class="terms hidden">
    <div class="terms_card">
        <h1>Terms & Conditions</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias esse cupiditate 
            beatae id cumque sint maiores culpa doloribus saepe neque! 
            impedit beatae, ratione alias.   
        </p>
        <br>
        <ul>

            <li>
                Rem vitae quaerat voluptatibus blanditiis hic 
                necessitatibus enim a, fuga dolorum ipsam corrupti praesentium esse culpa similique 
                numquam accusantium reprehenderit! 
            </li>
            <li>
                Rem vitae quaerat voluptatibus blanditiis hic 
                necessitatibus enim a, fuga dolorum ipsam corrupti praesentium esse culpa similique 
                numquam accusantium reprehenderit! 
            </li>
            <li>
                Have to have an account first to apply.
            </li>
            <li>
                Make sure you didn't applied already as an Instructor here.
            </li>
        </ul>
        <p class="accept_warning">Accept all our terms and conditions?</p>
        <button class="btn-apply-no">No</button>
        <a class="btn-green" href="">Yes</a>
    </div>
    <div class="overlay">
        <p>X</p>
    </div>
</div>
{% endblock content %}

{% block script_files %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock script_files %}

