{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'devedu/includes/utilities.css' %}">
    <link rel="stylesheet" href="{% static 'devedu/includes/variables.css' %}">
    <link rel="stylesheet" href="{% static 'devedu/learning.css' %}">
{% endblock css_files %}

{% block title %}DevEdu{% endblock title %}

{% block content %}
<main>
    {% comment %} ?<h2>mp4, pdf both has 3 letters in the end. use this to find file type before playing</h2> {% endcomment %}
    <section class="video__container">
        <h1 class="title">{{course.title}}</h1>
        <video 
        poster="{{course.thumb_nail.url}}"
        controls
        muted
        preload="auto"
        controlsList="nodownload"
        >
        <source src="{{free_content.file.url}}" type="video/mp4">
        </video>
        <h2>{{free_content.serial}}. {{free_content.title}}</h2>
    </section>
    <section class="contents__container">
        <h2>Contents</h2>
        
        {% for content in contents %}
        <p class="content" data-url="{{content.file.url}}">{{content.serial}}. {{content.title}}</p>
        {% endfor %}
        <a class="pdf-reader" target="_blank" href="#"></a>
        <p class="extras" ><a href="#">Quiz</a></p>
        <p class="extras"><a href="#">Resources</a></p>
        
        <div>
            <a class="rating" href="{% url 'review' course.slug user.username  %}">Rate us</a>
        </div>
    </section>
</main>

{% endblock content %}

{% block script_files %}
<script src="{% static 'js/learning.js' %}"></script>
{% endblock script_files %}
