{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'devedu/images/fav2.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&family=Merriweather:wght@300;400;700&family=Montserrat:wght@300;400;700&family=Poppins:wght@100;400;600;900&family=Roboto:wght@400;700&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'devedu/base.css' %}">
    <link rel="stylesheet" href="{% static 'devedu/pay.css' %}">
    <link rel="stylesheet" href="{% static 'devedu/includes/variables.css' %}">
    <title>DevEdu</title>
</head>
<body>
    <h1 class="title">{{course.title}}</h1>
    <p class="author">
        by <span>
        {% if course.author.user.first_name or course.author.user.last_name %}
        {{course.author.user.first_name}} {{course.author.user.last_name}}
        {% else %}
        {{course.author}}
        {% endif %}</span>
    </p>
    <p class="price">৳. {{course.price}}</p>
    <script src="https://js.stripe.com/v3/"></script>
    
        <form action="{% url 'payment' slug username %}" method="post" id="payment-form">
            {% csrf_token %}
            <h3 class="credentials">Credentials</h3>
            <input type="number" name="amount" id="amount" value={{price}} readonly>
            <label for="email">Email</label>
            <input id="email" class="user-input" type="text" name="email" value={{user_profile.user.email}}>
            <label for="name">Name</label>
            <input id="name" class="user-input" type="text" name="nickname"  value={{username}}>
    
            <div class="form-row">
                <label for="card-element" class="card-label">
                    Credit or debit card
                </label>
                <div id="card-element"></div>
                <div id="card-errors" role="alert"></div>
            </div>
            <h2 class="total">Totla Bill: BDT {{course.price}}</h2>
            <p class="warning">Please check credentials carefully.</p>
            <button class="btn-payment">Confirm</button>
        </form>
    
    <script>
        // Create a Stripe Client
        var stripe = Stripe('pk_test_51NiXeRG2jM3ThQGksG5ochNRRCo3xKiJM4UsgyTnjebS3xrJOdUUoNV6OVvgwOexh1dljRIcSuXWgaLt2kZLhzbd00r62CrZm7');
    
        // Create an instance of Elements.
        var elements = stripe.elements()
    
        // Custom style
        var style = {
            base: {
                color: '#32325d',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#aab7c4'
                }
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
            }
        };
    
        // Create an instance of the card element
        var card = elements.create("card", {style: style});
    
        // Add an instance of the card element
        card.mount("#card-element");
    
        // Handle real-time validation errors
        card.addEventListener("change", function(event) {
            var displayError = document.getElementById("card-errors")
            if(event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = "";
            }
        });
    
        // Handle form submission
        var form = document.getElementById('payment-form')
        form.addEventListener("submit", function(event) {
            event.preventDefault();
    
            stripe.createToken(card).then(function(result) {
                if(result.error) {
                    var errorElement = document.getElementById("card-errors");
                    errorElement.textContent = result.error.message;
                } else {
                    stripeTokenHandler(result.token);
                }
            })
        });
    
        // submit the form
        function stripeTokenHandler(token) {
            var form = document.getElementById("payment-form")
            var hiddenInput = document.createElement("input");
    
            hiddenInput.setAttribute("type", "hidden");
            hiddenInput.setAttribute("name", "stripeToken")
            hiddenInput.setAttribute("value", token.id);
            form.append(hiddenInput)
    
            form.submit();
        }
    
    </script>
</body>
</html>
