{% load static %}

<link rel="stylesheet" href="{% static 'devedu/includes/variables.css' %}">
<link rel="stylesheet" href="{% static 'devedu/includes/footer.css' %}"> 

<footer>
    <h1>DevEdu</h1>
    <div class="footer_container">
        <div class="footer_left">
            <a href="#">CONTACT US</a>
            <a href="#">CERRERS</a>
            <a href="#">PRIVACY POLICY</a>
            <a href="#">TERMS</a>
        </div>
        <div class="footer_right">
            <p>
                All &copy; reserves to <a href="#">DevEdu</a> Inc. 2023. Leaking any course material is an punishable offense.
            </p>
        </div>
    </div>
</footer>