{% load static %}

<link rel="stylesheet" href="{% static 'devedu/includes/variables.css' %}">
<link rel="stylesheet" href="{% static 'devedu/includes/nav.css' %}"> 

<nav>
    <div class="nav__items-left">
        <a class="logo" href="{% url 'home' %}">// DevEdu</a>
        <div class="search_box">
            {% comment %} <p>icon</p> {% endcomment %}
            <form action="{% url 'search' %}" method="GET">
                {% csrf_token %}
                <input type="text" name='q' placeholder="SEARCH">
            </form>
        </div>
    </div>
    <div class="nav__items-right">
        {% if user.is_authenticated %}
            {% if user.is_staff %}
                <a class="nav-item" href="{% url 'home' %}">HOME</a>
                <a class="nav-item" href="{% url 'admin_dashboard' %}">DASHBOARD</a>
                {% comment %} !<a class="nav-item" href="#">ISSUES</a> {% endcomment %}
                {% comment %} <a class="nav-item btn btn-login" href="{% url 'profile' %}">PROFILE</a> {% endcomment %}
            {% else %}
                <a class="nav-item" href="{% url 'home' %}">HOME</a>
                <a class="nav-item" href="{% url 'user_profile' user.username %}">LEARNINGS</a>
                <a class="nav-item btn btn-login" href="{% url 'user_profile' user.username %}">PROFILE</a>
            {% endif %}
                <a class="nav-item btn btn-signup" href="/logout/">LOGOUT</a>
        {% else %}
                <a class="nav-item" href="{% url 'home' %}">Home</a>
                <a class="nav-item" href="#">Courses</a>
            <a class="nav-item btn btn-login" href="/login">
                LOG IN
            </a>
            <a class="nav-item btn btn-signup" href="/sign-up">
                SIGN UP
            </a>
        {% endif %}
    </div>
</nav>

