body {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.tabs {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.tabs a:not(:last-child) {
    border-right: 2px solid var(--color-black);
}

.tabs a {
    font-size: 1.8rem;
    font-weight: 300;
    padding-right: 2rem;
    color: var(--color-light);
    text-align: center;
}

.tabs .tab_active {
    font-weight: 600;
}

.courses {
    width: 90%;
    margin: 3rem auto 5rem auto;
}


.courses .table {
    width: 100%;
    padding:.5rem 2rem;
    margin: 2rem auto;
    box-shadow: 0 4px 10px var(--color-box-shadow);
}

.row {
    width: 100%;
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
}
.col {
    height: 3rem;
    text-align: left;
}

.col h1 {
    color: var(--color-black);
    font-size: 1.2rem;
    text-align: left;
    border: none;
}

.col-id {
    width: 5%;
    border-bottom: 1px solid var(--color-light);
}
.col-title {
    width: 45%;
    border-bottom: 1px solid var(--color-light);
}
.col-instructor {
    width: 30%;
    border-bottom: 1px solid var(--color-light);
}
.col-actions {
    width: 20%;
    border-bottom: 1px solid var(--color-light);
}