.section_parent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2rem var(--margin-global) 5rem;
}


.title h1 {
    font-size: 2rem;
    color: var(--color-light);
}

.instructor a:link,
.instructor a:visited {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-light);
    text-decoration: none;
    border-bottom: 1.5px solid transparent;

    transition: all 0.2s;
}

.instructor a:active,
.instructor a:hover {
    color: var(--color-primary);
    border-bottom: 1.5px solid var(--color-primary);
}

.thumb_nail img{
    width: 100%;
    margin: 1.5rem 0;
    border-radius: 5px;
}

.description, .price {
    margin-bottom: 1.5rem;
}

.description h3, .price h3 {
    font-size: 1.4rem;
    color: var(--color-light);
    margin-bottom: .5rem;
}

.description p, .price p{
    font-size: 1.1rem;
}

.btn-delete {
    font-size: 1.5rem;
    align-self: self-start;
}

/* ! Warning Pop up */

.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    transition: all 0.2s;
    z-index: 2000;
  }
  
  .warning_window {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: 20rem;
    height: 10rem;
    padding: 2rem;
    background-color: white;
    border-radius: 5px;
    transition: all 0.2s;
  
    z-index: 3000;
  }
  
  .warning_window .warning_text {
    margin-bottom: 1rem;
  }

  .hidden {
    display: none;
  }