* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
    font-size: var(--font-size-global);
    color: var(--color-dark);
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}