
/* ! Section Header Start */
.section_header {
    width: 100%;
    background-color: var(--color-dark);
    display: flex;
    justify-content: center;
}
.section_header .section_header-container {
    width: 60%;
    padding: 2rem 0;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
}

.section_header .section_header-container h1 {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--color-white);
}

.section_header .section_header-container .author {
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--color-off-white);
}

.section_header .section_header-container .author a:link,
.section_header .section_header-container .author a:visited {
    font-weight: 600;
    color: var(--color-off-white);
    border-bottom: 1.5px solid transparent;

    transition: all 0.2s;
}

.section_header .section_header-container .author a:hover,
.section_header .section_header-container .author a:active {
    color: var(--color-white);
    border-bottom: 1.5px solid var(--color-white);
}

.section_header .section_header-container video {
    width: 100%;
    margin: 1rem 0;
    border-radius: 5px;
    height: auto;
    opacity: 0.9;

    transition: all 0.3s;
}

.section_header .section_header-container video:hover {
    cursor: pointer;
    opacity: 0.7;
} 

.section_header .section_header-container h2 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-white);
}

.section_header .section_header-container p {
    color: var(--color-off-white);
    margin: 0.5rem 0 1rem 0;
}

.section_header .section_header-container .rating {
    color: var(--color-yellow);
}

.section_header .section_header-container p span {
    font-weight: 600;
    color: var(--color-white);
}

.section_header .section_header-container .price {
    font-size: 1.5rem;
    color: var(--color-white);
}

.section_header .section_header-container a {
    color: var(--color-off-white);
}

.section_header .section_header-container .btns {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 2rem;

    margin: 1rem 0;
}

.section_header .section_header-container .btn-enroll:link,
.section_header .section_header-container .btn-enroll:visited {
    align-self: self-start;
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 600;
    padding: .5rem 1rem;
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 3px;

    transition: all 0.3s;
}

.section_header .section_header-container .btn-enroll:hover,
.section_header .section_header-container .btn-enroll:active {
    background-color: var(--color-primary-dark);
    border: 2px solid var(--color-primary-dark);
}

.section_header .section_header-container .btn-add-wishlist:link,
.section_header .section_header-container .btn-add-wishlist:visited {
    align-self: self-start;
    font-size: 1.5rem;
    font-weight: 500;
    padding: .5rem 1rem;
    background-color: transparent;
    border: 2px solid var(--color-off-white);
    border-radius: 3px;

    transition: all 0.3s;
}

.section_header .section_header-container .btn-add-wishlist:hover,
.section_header .section_header-container .btn-add-wishlist:active {
    color: var(--color-black);
    background-color: var(--color-off-white);
}

.section_header .section_header-container .btn-gift:link,
.section_header .section_header-container .btn-gift:visited {
    align-self: self-start;
    font-size: 1.1rem;
    border-bottom: 1.5px solid var(--color-off-white);

    transition: all 0.2s;
}

.section_header .section_header-container .btn-gift:hover,
.section_header .section_header-container .btn-gift:active {
    color: var(--color-white);
    border-bottom: 1.5px solid var(--color-white);
}

/* ! Section Header End */


/* ! Section Content Start */

.course_contents {
    width: 60%;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course_contents h1 {
    color: var(--color-dark);
    font-size: 2rem;
    font-weight: 600;
    
}

.course_contents .table {
    width: 100%;
    margin: 2rem 0;
    border-top: 1.5px solid var(--color-black);
}

.course_contents .table .content {
    padding: 1rem 5%;
    width: 100%;
    display: flex;
    flex-direction: row;

    border-bottom: 1px solid var(--color-light);
}

.course_contents .content .serial {
    width: 10%;
}

.course_contents .content .title {
    font-weight: 600;
    width: 80%;
}

.course_contents .content .title:hover {
    cursor: pointer;
}

.course_contents .content .type {
    font-weight: 500;
}

/* ! Section Conten End */
