main {
    width: 100%;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.video__container {
    width: 70%;
}

.video__container h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-light);
}

.video__container video {
    width: 100%;
    border-radius: 5px;
    margin: .5rem 0;
}

.video__container h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--color-light);
}

.contents__container {
    width: calc(30% - 4rem);
    padding: 2rem 0;
}

.contents__container h2 {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem .5rem;
    border-bottom: 1.5px solid var(--color-light);
}

.contents__container p {
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem .5rem;
    border-bottom: 1.5px solid var(--color-light);
}

.contents__container p:hover {
    cursor: pointer;
}

.contents__container div {
    margin: 2rem 0;
}

.contents__container .rating {
    font-size: 1.3rem;
    color: var(--color-white);
    padding: .3rem .7rem;
    border-radius: 3px;
    background-color: var(--color-light);
}