{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&family=Merriweather:wght@300;400;700&family=Montserrat:wght@300;400;700&family=Poppins:wght@100;400;600;900&family=Roboto:wght@400;700&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'devedu/base.css' %}">
    {% block css_files %}{% endblock css_files %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% include "includes/nav_admin.html" %}
    {% block content %}{% endblock content %}
    {% block script_files %}{% endblock script_files %}
</body>
</html>