{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'devedu/includes/utilities.css' %}">
    <link rel="stylesheet" href="{% static 'admin/delete_content.css' %}">
{% endblock css_files %}
{% block title %}Delete Content{% endblock title %}

{% block content %}
<div class="section_parent">
    <div class="title">{{content.serial}}. {{content.title}}</div>
    <div class="file">{{content.file}}</div>
    <form action="{% url 'delete_content' content.id %}" method="POST">
        {% csrf_token %}
        <button class="btn-delete btn-red">Delete</button>
    </form>
</div>
{% endblock content %}